*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.default-button {
    background-color: transparent;
    color: white;
    text-decoration: none;
  }

.active-button {
    color: white;
    border-radius: 5px;
    padding:0 10px;
    text-decoration: none;
  }
  .gohome{
    display: inline-block;
    
    padding: 10px 20px;
    color: #3888d8;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: 0.5px solid #3888d8;
  }

  /* Drawer page */
 


  .defaultbutton{
    background-color: transparent;
  }
  .activebutton{
    background-color: #3888d8; 
  }

  
.formula{
  font-family: "Cambria Math","STIX Two Math", "Tex Gyre Pagella", serif;
}